@model IEnumerable<CheesCooperation.Models.MenuModel>
@{
	ViewBag.Title = "About";
	ViewBag.Description = "Play with friends real time chess. See all their moves as if your were sitting at the same table. It's that simple, and completely free. No account required.";
	ViewBag.Keywords = "Chess, Real time, Free, No account, Live, Game, ASP MVC RignalR";
}
<h2>@ViewBag.Title</h2>

<p>This online game is developed by me, Tomasz Rewak, as a side project in purpose of learning more about C#, ASP.NET MVC, SignalR and some others, as this site is written in those technologies.</p>
