@model IEnumerable<CheesCooperation.Models.MenuModel>
@{
	ViewBag.Title = "Contact";
	ViewBag.Description = "Play with friends real time chess. See all their moves as if your were sitting at the same table. It's that simple, and completely free. No account required.";
	ViewBag.Keywords = "Chess, Real time, Free, No account, Live, Game";
}
<h2>@ViewBag.Title.</h2>

If you see any bugs or just want to contact me, send an e-mail: <a href="mailto:Tomasz.Rewak+RTC@gmail.com">TomaszRewak+RTC@gmail.com</a>
<br />
Or you can find me on <a href="http://linkedin.com/in/tomaszrewak" target="_blank">LinkedIn</a>